.light1{
	background-color: #FFFFFF;
	padding: 0px !important;
}
.plus_icon{
	font-size: 45px;


}
.my_icon{
	padding: 20px;
}
.pie_chart{
	font-size: 130px;
}
.back2{
	background-color: white;
      padding-left: 25px;
      padding-top: 24px
}