<div class="footer p-a-md footer-bg-color">
	<div class="text-center">
    <div class="clearfix text-lg m-t">
      <strong>{{app.name}}</strong> Eiffel Project
    </div>
    <div class="nav m-y">
        <a class="nav-link m-r" href>
          <span>Money</span>
        </a>
        <a class="nav-link m-r" href>
          <span>Property</span>
        </a>
        <a class="nav-link m-r" href>
          <span>Services</span>
        </a>
        <a class="nav-link m-r" href>
          <span>News</span>
        </a>
        <a class="nav-link m-r" href>
          <span>Meets</span>
        </a>
        <a class="nav-link m-r" href>
          <span>Contact Us</span>
        </a>
    </div>
    <div class="block clearfix">
			<a href class="btn btn-icon btn-social rounded btn-sm">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-facebook indigo"></i>
      </a>
      <a href class="btn btn-icon btn-social rounded btn-sm">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-twitter light-blue"></i>
      </a>
      <a href class="btn btn-icon btn-social rounded btn-sm">
        <i class="fa fa-google-plus"></i>
        <i class="fa fa-google-plus red"></i>
      </a>
      <a href class="btn btn-icon btn-social rounded btn-sm">
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-linkedin cyan-600"></i>
      </a>
			<a href class="btn btn-icon btn-social rounded btn-sm">
        <i class="fa fa-behance"></i>
        <i class="fa fa-behance blue"></i>
      </a>
			<a href class="btn btn-icon btn-social rounded btn-sm">
        <i class="fa fa-dribbble"></i>
        <i class="fa fa-dribbble pink"></i>
      </a>
		</div>
	</div>
  <div class="b b-b m-y-md"></div>
  <div class="row footer-bottom">
    <div class="col-sm-8">
      <small class="text-muted">&copy; Copyright 2015. All rights reserved.</small>
    </div>
    <div class="col-sm-4">
      <div class="text-sm-right text-xs-left">
        <strong>{{app.name}}</strong>
      </div>
    </div>
  </div>
</div>
