
<div class="body-inner-padding ng-scope">
        <div class="padding ng-scope ">
            <div class="row">
                <div class="col-sm-12 col-md-push-3 col-md-6">
            <div class="box">
                <div class="box-header">
                    <h2>Meeting</h2>
                </div>
                <div class="box-divider m-a-0"></div>
                <div class="box-body">
                    <form role="form" ng-submit="submit()" ng-controller="MeetStreamGetDetailsCtrl" ng-cloak novalidate name="meetStreamForm">
                        <div class="row">
                            <div class="container">
                                <md-radio-group ng-model="group" ng-required="true" name="group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <md-radio-button value="Required" class="md-primary">Required</md-radio-button></div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <md-radio-button value="Offered" class="md-primary"> Offered </md-radio-button>
                                    </div>
                                      <div ng-messages="meetStreamForm.group.$error" >
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Meeting Agenda</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">
                                   <!-- <md-input-container class="md-block" flex-gt-sm>-->
                                        <label>Agenda Purpose</label>
                                        <input  type="text" name="agenda" ng-required="true" ng-model="agenda">

                                        <div ng-messages="meetStreamForm.agenda.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                        <input  type="text" name="agenda" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                                class="form-control">
                                   <!-- </md-input-container>--></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Date</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">


                                        <md-datepicker ng-model="myDate"  md-placeholder="Enter date" class="md-block" flex-gt-sm>

                                            <!--<div ng-messages="meetStreamForm.myDate.$error" >
                                                <div ng-message="required">This is required.</div>
                                            </div>-->

                                        </md-datepicker>
                                       <!-- <input  type="text" name="date">-->

                                   </div>
                                   <!-- <md-input-container class="md-block" flex-gt-sm>-->
                                        <label>Choose Date</label>
                                        <input  type="text" name="date" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                                class="form-control">
                                   <!-- </md-input-container>--></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Category</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">
                                    <!--<md-input-container class="md-block" flex-gt-sm>-->
                                        <label>Choose Category</label>
                                        <input  type="text" name="category" ng-model="category" ng-required="true">

                                        <div ng-messages="meetStreamForm.category.$error" >
                                               <div ng-message="required">This is required.</div>
                                           </div>
                                        <input  type="text" name="category" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                                class="form-control">
                                    <!--</md-input-container>--></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Location</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">
                                  <!--  <md-input-container class="md-block" flex-gt-sm>-->
                                        <label>Location</label>
                                        <input  type="text" name="location" ng-required="true" ng-model="location">

                                        <div ng-messages="meetStreamForm.location.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                        <input  type="text" name="location" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                                class="form-control">
                                    <!--</md-input-container>--></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Duration</p></div>
                                <div class="col-md-4 col-sm-5 col-xs-4">
                                   <!-- <md-input-container class="md-block" flex-gt-sm>-->
                                        <label>From</label>
                                        <input  type="text" name="durationfrom" ng-model="durationfrom" ng-required="true">

                                        <div ng-messages="meetStreamForm.durationfrom.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                  <!--  </md-input-container>--></div>

                                <div class="col-md-4 col-sm-5 col-xs-4">
                                   <!-- <md-input-container class="md-block" flex-gt-sm>-->
                                        <label>To</label>
                                        <input  type="text" name="durationTo" ng-model="durationTo" ng-required="true">

                                        <div ng-messages="meetStreamForm.durationTo.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                        <label>Investment</label>
                                        <input  type="text" name="investment" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                                class="form-control">
                                    <!--</md-input-container>--></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Description</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">
                                  <!--  <md-input-container class="md-block" flex-gt-sm>-->
                                        <label>Description</label>
                                        <input type="text" name="description" ng-model="description" ng-required="true" md-maxlength="500">

                                        <div ng-messages="meetStreamForm.description.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                   <!-- </md-input-container>-->

                                </div>
                                        <input type="text" name="description" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                               class="form-control">
                                   <!-- </md-input-container>--></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-3 col-sm-6 col-xs-6"><p>Post Confidentially</p></div>
                            <div class="col-md-6 col-sm-6 col-xs-6"><md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                            </md-checkbox></div>
                        </div>
                        <div class="text-center"><button class="btn btn-fw primary">Submit</button></div>
                    </form>
                </div>
            </div>
        </div><div class="col-sm-6 col-md-pull-6 col-md-3">
        <div class="box">
            <div class="box-tool">
                <ul class="nav">
                    <li class="nav-item inline dropdown">
                        <a class="nav-link text-muted" data-toggle="dropdown">
                            <i class="material-icons md-18">&#xe164;</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-scale pull-right dark">
                            <a class="dropdown-item" href>Activities</a>
                            <a class="dropdown-item" href>Feed</a>
                            <a class="dropdown-item" href>Photo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Follow</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="p-a-md text-center">
                <p><img src="../assets/images/a1.jpg" class="img-circle w-xs"></p>
                <a href class="text-md block">Jason Warren</a>
                <p><small>London, UK</small></p>
                <div>
                    <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook indigo"></i>
                    </a>
                    <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter light-blue"></i>
                    </a>
                    <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-google-plus red"></i>
                    </a>
                </div>
                <div class="text-center m-t">
                    <a href class="btn btn-sm rounded primary w-sm m-y-xs">Follow</a>
                    <a href class="btn btn-sm rounded btn-outline b-primary w-sm">Invite</a>
                </div>
            </div>
            <div class="row no-gutter b-t b-b"> <div class="col-xs-6 b-r">
                <a class="p-a block text-center">
                    <span class="block _600">3219</span>
                    <span>Friends</span>
                </a>
            </div>
                <div class="col-xs-6">
                    <a class="p-a block text-center">
                        <span class="block _600">1458</span>
                        <span>Followers</span>
                    </a>
                </div>
            </div>
            <div class="p-a">
                <a href class="text-ellipsis"><i class="fa fa-link text-muted m-r-sm"></i> apack.com/subdomain</a>
                <a href class="text-ellipsis"><i class="fa fa-globe text-muted m-r-sm"></i> yourdomain.com</a>
            </div>
        </div>
        <div class="box light lt">
            <div class="box-body">
                <span class="pie_chart"><img width="270" height="202" src="../assets/images/chart2.png"></span>
                <span><p> Profile 20% completed</p></span>

                <div class="clear p-a-xs">

                    <a href class="btn btn-sm btn-rounded white m-t-xs text-center"> Edit Profile</a>
                </div>
            </div>
        </div>
    </div>

        <div class="col-sm-6 col-md-3">

        </div>
    </div>
</div>
