

<div class="body-inner-padding ng-scope">
    <div class="padding ng-scope">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="box">
                <div class="box-header">
                    <span class="label success pull-right">8</span>
                    <h3>Notifications</h3>
                </div>
                <div class="box-body">
                    <div class="streamline b-l m-b m-l">
                        <div class="sl-item">
                            <div class="sl-left">
                                <img src="../assets/images/a2.jpg" class="img-circle">
                            </div>
                            <div class="sl-content">
                                <a href class="text-info">Louis Elliott</a><span class="m-l-sm sl-date">5 min ago</span>
                                <div>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</div>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-left">
                                <img src="../assets/images/a5.jpg" class="img-circle">
                            </div>
                            <div class="sl-content">
                                <a href class="text-info">Terry Moore</a><span class="m-l-sm sl-date">10 min ago</span>
                                <div>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</div>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-left">
                                <img src="../assets/images/a8.jpg" class="img-circle">
                            </div>
                            <div class="sl-content">
                                <a href class="text-info">Walter Paler</a><span class="m-l-sm sl-date">1 hour ago</span>
                                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                            </div>
                        </div>
                    </div>
                    <a href class="btn btn-sm success text-u-c m-y-sm">Load More</a>
                </div>
            </div>
        </div>
    </div>

        </div>
    </div>
