

    <div class="body-inner-padding ng-scope">
        <div class="padding ng-scope ">
            <div class="row">
        <div class="col-sm-12 col-md-push-3 col-md-6">
            <div class="box">
                <div class="box-header">
                    <h2>Services</h2>
                </div>
                <div class="box-divider m-a-0"></div>
                <div class="box-body" ng-controller="ServiceGetDetailsCtrl as ctrl" ng-cloak>
                    <form role="form" ng-submit="ctrl.submit()" ng-cloak novalidate name="serviceForm">
                        <div class="row">
                            <div class="container">
                                <md-radio-group ng-model="group" ng-required="true" name="group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <md-radio-button value="Required" class="md-primary">Required</md-radio-button></div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <md-radio-button value="Offered" class="md-primary"> Offered </md-radio-button>
                                    </div>

                                    <div ng-messages="serviceForm.group.$error" >
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Title</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Title</label>
                                        <input type="text" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                               class="form-control" ng-model="title" name="title" ng-required="true">
                                        <div ng-messages="serviceForm.title.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                        <!--<input  type="text" name="title">-->
                                    </md-input-container></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Category</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Choose Category</label>
                                        <input type="text" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                               class="form-control" ng-model="category" name="category" ng-required="true">
                                        <div ng-messages="serviceForm.category.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Price of Service</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Enter the Price</label>
                                        <input type="text" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                               class="form-control" ng-model="price" name="price" ng-required="true">
                                        <div ng-messages="serviceForm.price.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Location</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Enter the Location</label>
                                        <input type="text" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                               class="form-control" ng-model="location" name="location" ng-required="true">
                                        <div ng-messages="serviceForm.location.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Service Tag</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">
                                   <!-- <md-input-container class="md-block" flex-gt-sm>
                                        <label>Tags</label>
                                        <input type="text" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                               class="form-control">
                                    </md-input-container>-->
                                    <md-content class="md-padding" layout="column">
                                        <md-chips ng-model="ctrl.selectedCategory" md-autocomplete-snap
                                                  md-transform-chip="ctrl.transformChip($chip)"
                                                  md-require-match="ctrl.autocompleteDemoRequireMatch">
                                            <md-autocomplete
                                                    md-selected-item="ctrl.selectedItem"
                                                    md-search-text="ctrl.searchText"
                                                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                                                    md-item-text="item.name"
                                                    name="item"
                                                    placeholder="Search for a Service">
                                                <span md-highlight-text="ctrl.searchText">{{item.name}}</span>

                                                <div ng-messages="propertyForm.item.$error" >
                                                    <div ng-message="required">This is required.</div>

                                                </div>

                                            </md-autocomplete>
                                            <md-chip-template>
                                    <span>
                                      <strong>{{$chip.name}}</strong>

                                    </span>
                                            </md-chip-template>
                                        </md-chips>

                                    </md-content>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 col-sm-2 col-xs-4"><p class="eiff-form-field">Description</p></div>
                                <div class="col-md-8 col-sm-10 col-xs-8">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Description</label>
                                        <input type="text" uib-popover="Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since" popover-trigger="focus" popover-placement="right-top"
                                               class="form-control" ng-model="description" name="description" ng-required="true" md-maxlength="500">
                                        <div ng-messages="serviceForm.description.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container></div>
                            </div>
                        </div>

                        <div class="text-center"><button class="btn btn-fw primary">Submit</button></div>
                    </form>
                </div>
            </div>
        </div><div class="col-sm-6 col-md-pull-6 col-md-3">
        <div class="box">
            <div class="box-tool">
                <ul class="nav">
                    <li class="nav-item inline dropdown">
                        <a class="nav-link text-muted" data-toggle="dropdown">
                            <i class="material-icons md-18">&#xe164;</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-scale pull-right dark">
                            <a class="dropdown-item" href>Activities</a>
                            <a class="dropdown-item" href>Feed</a>
                            <a class="dropdown-item" href>Photo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Edit</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="p-a-md text-center">
                <p><img src="../assets/images/a1.jpg" class="img-circle w-xs"></p>
                <a href class="text-md block">Jason Warren</a>
                <p><small>Noida, UP</small></p>
                <div>
                    <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook indigo"></i>
                    </a>
                    <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter light-blue"></i>
                    </a>
                    <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-google-plus red"></i>
                    </a>
                </div>
                <div class="text-center m-t">
                    <a href class="btn btn-sm rounded primary w-sm m-y-xs">Edit</a>
                    <a href class="btn btn-sm rounded btn-outline b-primary w-sm">Sync</a>
                </div>
            </div>
            <div class="row no-gutter b-t b-b"> <div class="col-xs-6 b-r">
                <a class="p-a block text-center">
                    <span class="block _600">3219</span>
                    <span>Friends</span>
                </a>
            </div>
                <div class="col-xs-6">
                    <a class="p-a block text-center">
                        <span class="block _600">1458</span>
                        <span>Editers</span>
                    </a>
                </div>
            </div>
            <div class="p-a">
                <a href class="text-ellipsis"><i class="fa fa-link text-muted m-r-sm"></i> apack.com/subdomain</a>
                <a href class="text-ellipsis"><i class="fa fa-globe text-muted m-r-sm"></i> yourdomain.com</a>
            </div>
        </div>
        <div class="box light lt">
            <div class="box-body">
                <span class="pie_chart"><img width="270" height="202" src="../assets/images/chart2.png"></span>
                <span><p> Profile 20% completed</p></span>

                <div class="clear p-a-xs">

                    <a href class="btn btn-sm btn-rounded white m-t-xs text-center"> Edit Profile</a>
                </div>
            </div>
        </div>
    </div>

        <div class="col-sm-6 col-md-3">

        </div>
    </div>





</div>
